auth:
  api-key:
    secret: ${LOWCODER_API_KEY_SECRET:5a41b090758b39b226603177ef48d73ae9839dd458ccb7e66f7e7cc028d5a50b}
  email:
    enable: ${LOWCODER_EMAIL_AUTH_ENABLED:true}
    enable-register: ${LOWCODER_EMAIL_SIGNUP_ENABLED:true}
  workspace-creation: ${LOWCODER_CREATE_WORKSPACE_ON_SIGNUP:true}

spring:
  data:
    mongodb:
      authentication-database: admin
      auto-index-creation: false
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true
  codec:
    max-in-memory-size: 20MB
  webflux:
    context-path: /

server:
  compression:
    enabled: true
  forward-headers-strategy: NATIVE
  http2:
    enabled: true
  port: 8080
  shutdown: graceful

default:
  orgs-per-user: ${LOWCODER_MAX_ORGS_PER_USER:100}
  org-member-count: ${LOWCODER_MAX_MEMBERS_PER_ORG:1000}
  org-group-count: ${LOWCODER_MAX_GROUPS_PER_ORG:100}
  org-app-count: ${LOWCODER_MAX_APPS_PER_ORG:1000}
  developer-count: ${LOWCODER_MAX_DEVELOPERS:50}
  api-rate-limit: ${LOWCODER_API_RATE_LIMIT:50}

common:
  cookie-name: LOWCODER_CE_SELFHOST_TOKEN
  product: lowcoder
  domain:
    default-value: lowcoder.org
  cloud: false
  version: 2.1.4
  apiVersion: 1.1
  block-hound-enable: false
  js-executor:
    host: ${LOWCODER_NODE_SERVICE_URL:http://127.0.0.1:6060}
  max-query-request-size: ${LOWCODER_MAX_REQUEST_SIZE:20m}
  max-query-response-size: ${LOWCODER_MAX_REQUEST_SIZE:20m}
  max-upload-size: ${LOWCODER_MAX_REQUEST_SIZE:20m}
  max-query-timeout: ${LOWCODER_MAX_QUERY_TIMEOUT:120}
  workspace:
    mode: ${LOWCODER_WORKSPACE_MODE:SAAS}
  marketplace:
    private-mode: ${MARKETPLACE_PRIVATE_MODE:true}

material:
  mongodb-grid-fs:
    bucket-name: material

springdoc:
  api-docs:
    path: /api/docs/api-docs
  swagger-ui:
    path: /api/docs/swagger-ui
  paths-to-exclude: /api/v1/**
