# Default values for lowcoder.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

#
# Configuration values for Lowcoder
#
global:
  config:
    # This setting sets workspace mode. Possible values: SAAS, ENTERPRISE
    workspaceMode: SAAS
    createWorkspaceOnSignup: true
    # ID of user and group runnning the service within the container
    userId: 9001
    groupId: 9001
    corsAllowedDomains: "*"
    enableEmailAuth: true
    enableUserSignUp: true
    encryption:
      password: "lowcoder.org"
      salt: "lowcoder.org"
    #nodeServiceUrl: 
    #apiServiceUrl: 
    apiKeySecret: "5a41b090758b39b226603177ef48d73ae9839dd458ccb7e66f7e7cc028d5a50b"
    maxQueryTimeout: 120
    maxRequestSize: "20m"
  defaults:
    maxOrgsPerUser: 100
    maxMembersPerOrg: 1000
    maxGroupsPerOrg: 100
    maxAppsPerOrg: 1000
    maxDevelopers: 50

#
# Redis
#
# For using external redis:
#   - set enabled to false
#   - specify redis connection url in externalUrl
#
# To install redis, set enabled to 'true'
# Find out more about configuration options at: https://github.com/bitnami/charts/tree/main/bitnami/redis/#parameters
#
redis:
  #externalUrl: 
  enabled: true
  architecture: standalone
  auth:
    enabled: false
    #password: 

# Mongo database
#
# For using external mongodb:
#   - set enabled to 'false'
#   - specify mongodb connection string in externalUrl
#
# To install mongodb, set enabled to 'true'
# Find out more about configuration options at: https://github.com/bitnami/charts/tree/main/bitnami/mongodb/#parameters
#
mongodb:
  #externalUrl:
  enabled: true
  service:
    nameOverride: lowcoder-mongodb
  auth:
    rootUser: root
    rootPassword: secret
    usernames:
      - lowcoder
    passwords:
      - supersecret
    databases:
      - lowcoder

# Lowcoder backend API service
#
# Find out more about configuration options at: https://github.com/lowcoder-org/lowcoder/tree/main/deploy/docker#configuration-1
#
apiService:
  image:
    repository: lowcoderorg/lowcoder-ce-api-service
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    #tag: "latest"


  service:
    type: ClusterIP
    port: 80
    #nodePort: 30088

  replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

# Lowcoder backend node service
#
# Find out more about configuration options at: https://github.com/lowcoder-org/lowcoder/tree/main/deploy/docker#configuration-3
#
nodeService:
  image:
    repository: lowcoderorg/lowcoder-ce-node-service
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    #tag: "latest"


  service:
    type: ClusterIP
    port: 80
    #nodePort: 30088

  replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
 
# Lowcoder frontend
frontend:
  image:
    repository: lowcoderorg/lowcoder-ce-frontend
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    #tag: "latest"

  service:
    type: NodePort
    port: 80
    nodePort: 30099

  replicaCount: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
 
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000


ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


nodeSelector: {}

tolerations: []

affinity: {}
